#hzPanel { cursor:none; display:none; position:fixed; pointer-events:none; top:50%; left:50%;
	box-shadow:0.2em 0.2em 0.6em #000000; background-color:#333333; border:solid 1px #000000;
	opacity:0.99; z-index:2147483647; }
#hzPanel div { color:#FFFF99; font:bold 1.1em sans-serif caption; position:absolute;
	text-shadow:0.05em 0.05em 0.05em #000000,  0.05em -0.05em 0.05em #000000,
		-0.05em 0.05em 0.05em #000000, -0.05em -0.05em 0.05em #000000,
		 0.10em 0.10em 0.10em #000000,  0.10em -0.10em 0.10em #000000,
		-0.10em 0.10em 0.10em #000000, -0.10em -0.10em 0.10em #000000,
		 0.20em 0.20em 0.20em #000000,  0.20em -0.20em 0.20em #000000,
		-0.20em 0.20em 0.20em #000000, -0.20em -0.20em 0.20em #000000; }
#hzPanel img { width:100%; height:100%; }
#hzPanel video { width:100%; height:100%; }
